.navbar_top :hover{
    color: rgb(184, 27, 16);
    background-color: rgb(29, 88, 248);
    border-radius: 5px;
}
.navbar_down a{
    text-decoration:none;
}
.navbar_down :hover{
    color: rgb(184, 27, 16);
    background-color: rgb(201, 200, 206);
    border-radius: 5px;
}
